# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

*~
*.bak
*.back
*.old
*.txt
*.exe
*.com
*.dll
*.lock
*.DS_Store
*.swp
*.zip
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.7z
*.log
*.sql
ehthumbs.db
Thumbs.db
/nbproject
/settings.php